<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>大师|发型师|美甲师|</title>
	<link href="../../scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="../../scripts/fontawesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="../../styles/common.css" rel="stylesheet">
	<link href="../../styles/animate.min.css" rel="stylesheet">
	<link type="text/css" href="../../stores/hairdressing/css/common.css" rel="stylesheet"/>
	<style>
		.view-project-list {}
		.view-project-list>li { padding:8px 12px; background-color:#f6f6f6; border-bottom:1px solid #eee; overflow:hidden; clear:both;}
		.view-project-list>li:nth-child(odd) { background-color:#fbfbfb;}
		.view-project-list>li:first-child { border-top:1px solid #eee;}
		.form-group-article textarea { min-height:9em;}
	</style>
</head>
<body class="body-bg-gray p-10">

<div class="page-list-container">
	<div class="search-wrapper mc-bg-white border">
		<div class="p-15 box-clear">
			<div class="fl">
				<button class="btn btn-sm btn-primary mr-5" id="btnShowAddBox"><i class="fa fa-plus-circle"></i> 添加</button>
			</div>
			<div class="ml-5 fl">
				<div class="mr-5 fl" hidden>
					<span class="btn btn-sm btn-default mr-5" id="btnFilter"><i class="fa fa-filter"></i> 筛选</span>
				</div>
				<div class="input-group search-bar box-clear fl" id="searchBar">
					<i class="fa fa-search"></i>
					<input type="text" name="keyword" class="form-control" placeholder="名称查询">
					<span class="search-btn-reset"><i class="fa fa-remove"></i></span>
					<span class="input-group-addon btn btn-default" id="btnSearch">搜索</span>
				</div>
			</div>
		</div>
	</div>

	<div class="mc-bg-white mt-10 mb-10 border">
		<div class="page-main-wrapper">
			<table class="mc-list-table main-list main-images-list" id="listTable" data-mode="edit">
				<thead>
				<tr>
					<td width="50">选择</td>
					<td width="60">禁用</td>
					<td width="80">头像</td>
					<td width="100">姓名</td>
					<td width="100">总服务次数</td>
					<td width="100">月服务次数</td>
					<td></td>
					<td width="120">操作</td>
				</tr>
				</thead>
				<tbody></tbody>
			</table>

			<div class="mc-list-tools box-clear pt-20 pb-20 pl-15 pr-15" id="listTools" hidden>
				<div class="list-tools-left fl">
					<div class="mc-table-checkbox-bar ml-5 mr-10 fl">
						<label><input type="checkbox" id="checkedAll"> 全选</label>
					</div>
					<button class="btn btn-sm btn-warning mr-5" id="btnListRemove" disabled="disabled"><i class="fa fa-trash"></i> 禁用</button>
				</div>

				<div class="fr" id="pageNavWrapper"></div>
			</div>
		</div>
	</div>
</div>


<!-- 新增、修改 -->
<div class="mc-bg-white border p-15 box-clear" id="formContainer" hidden>
	<input type="file" class="hide" id="fileUploadImage" size="1"/>
	<input type="file" class="hide" id="fileUploadImagesForContent" multiple="multiple"/>
	<div class="form-header box-clear mb-20 pb-0 b-b">
		<div class="mr-10 fl f18" id="editTile">
			<span data-mode="new"><i class="fa fa-plus-square"></i> <span>新增<span data-bind="master_type">发型师</span></span></span>
			<span data-mode="edit"><i class="fa fa-pencil-square"></i> <span>修改<span data-bind="master_type">发型师</span></span></span>
		</div>
		<ul class="ml-20 fl nav nav-tabs form-header-tabs" id="editHeaderBar">
			<li class="active" aria-controls="baseInfoBox"><a href="#">基本信息</a></li>
			<li aria-controls="contentBox"><a href="#">图文内容</a></li>
		</ul>
		<div class="fr">
			<button type="button" class="btn-sm mc-btn-text btn-cancel">&times; 关闭</button>
		</div>
	</div>

	<div class="form-group-wrapper tab-content mt-10">

		<!-- 基本信息 -->
		<div class="group-base-wrapper tab-pane active" id="baseInfoBox">
			<div class="form-item mb-05">
				<div class="form-item-title"><h4 class="f16">基本信息</h4></div>
			</div>
			<div class="row" id="baseInfoWrapper">
				<div class="col-sm-6 col-md-5 form-col">
					<div class="form-item">
						<span class="form-item-title"><span class="color-red">*</span> <span data-bind="master_type">发型师</span>姓名：</span>
						<div class="form-item-content">
							<input type="text" class="form-control form-input" data-width="normal" name="name" data-bind="name" data-not-null="1" placeholder=""/>
						</div>
					</div>

					<div class="form-item">
						<span class="form-item-title"><span class="color-red">*</span> 工作年限：</span>
						<div class="form-item-content">
							<input type="text" class="form-control form-input" data-width="normal" name="working_life" data-bind="working_life" data-type="number" data-not-null="1" placeholder="">
						</div>
					</div>

					<div class="form-item">
						<span class="form-item-title"><span class="color-red">*</span> 总服务次数：</span>
						<div class="form-item-content">
							<input type="text" class="form-control form-input" data-width="normal" name="service_num" data-bind="service_num" data-type="number" data-not-null="1" placeholder="">
						</div>
					</div>

					<div class="form-item">
						<span class="form-item-title"><span class="color-red">*</span> 月服务次数：</span>
						<div class="form-item-content">
							<input type="text" class="form-control form-input" data-width="normal" name="month_service_num" data-bind="month_service_num" data-type="number" data-not-null="1" placeholder="">
						</div>
					</div>

					<div class="form-item from-is-checkbox">
						<span class="form-item-title">是否禁用：</span>
						<div class="form-item-content">
							<input type="checkbox" name="is_deleted" data-size="small" data-on-color="danger" data-on-text="是" data-off-text="否" />
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-md-7 form-col form-col-min">
					<div class="form-item pb-10">
						<span class="form-item-title"><span class="color-red">*</span> 头像：</span>
						<div class="form-item-content">
							<input type="hidden" name="cover_src" data-bind="cover_src" data-not-null="1"/>
							<div class="form-image-wrapper fl">
								<span class="image-contain" id="shopCoverImg" data-bind="cover_src_string" data-bind-type="bg-img" style="background-image:url(../../images/upload-default-img.png);"></span>
							</div>
							<div class="mt-15 ml-15 color-light-gray fl">
								<span class="btn btn-info btn-sm btn-file-single" id="btnCoverImg">上传头像</span>
								<p class="mt-5">
									<small>仅支持jpg、gif、png，大小不超过1MB</small>
									<small class="block">建议尺寸 750px &times; 500px</small>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>


			<hr>
			<div class="form-item mb-0">
				<div class="form-item-title"><h4 class="f16 mt-0">服务套餐</h4></div>
			</div>
			<div>
				<article class="form-group-article project-list"></article>
			</div>

			<hr>
			<div class="form-item">
				<span class="form-item-title">图集(多张)：</span>
				<div class="form-item-content">
					<ul class="form-img-list m-0 box-clear" id="formImgList"></ul>

					<img src="../../images/upload-default-img.png" class="img-thumbnail"/>
					<div class="mt-15 color-light-gray">
						<span class="btn btn-info btn-sm btn-file"><input type="file" id="fileImages" multiple/>上传图集</span>
						<p class="mt-5">
							<small>仅支持jpg、gif、png，大小不超过1MB</small>
							<small class="block">建议尺寸 750px &times; 500px</small>
						</p>
					</div>
				</div>
			</div>

			<hr>
			<div class="form-item">
				<span class="form-item-title">备注：</span>
				<div class="form-item-content max-w-1000" id="editRemark">
					<textarea class="form-control form-input" name="remark" data-bind="remark" data-width="max" placeholder="备注信息"></textarea>
				</div>
			</div>
		</div>

		<!-- 商品内容 -->
		<div class="group-content-wrapper tab-pane" id="contentBox">
			<article class="form-group-article videotex-list"></article>
		</div>
	</div>

	<hr>
	<div class="form-item mt-30 mb-15">
		<span class="form-item-title">&nbsp;</span>
		<div class="form-item-content">
			<button type="button" class="btn btn-primary btn-big mr-5" id="btnFormSubmit">保存</button>
			<button type="button" class="btn btn-default btn-big btn-cancel mr-5">取消</button>
		</div>
	</div>
</div>


<!-- 查看详细 -->
<div class="mc-bg-white border p-15 box-clear view-data-container view-data-mode" id="viewFormContainer" hidden>
	<div class="form-header box-clear mb-20 pb-0 b-b">
		<div class="mr-10 fl f18">
			<span data-mode="edit"><i class="fa fa-search-plus"></i> <span>查看<span data-bind="master_type">发型师</span>信息</span></span>
		</div>
		<div class="fr">
			<button type="button" class="btn-sm mc-btn-text btn-close">&times; 关闭</button>
		</div>
	</div>

	<div class="form-group-wrapper tab-content mt-10">
		<!-- 基本信息 -->
		<div class="group-base-wrapper tab-pane active" id="viewBaseInfoBox">
			<div class="form-item mb-0">
				<div class="form-item-title"><h4 class="mt-0 pb-5 f16">基本信息</h4></div>
			</div>
			<div class="row" id="viewBaseInfoWrapper">
				<div class="col-sm-6 col-md-5 form-col">
					<div class="form-item">
						<span class="form-item-title"><span data-bind="master_type">发型师</span>姓名：</span>
						<div class="form-item-content" data-bind="name"></div>
					</div>

					<div class="form-item from-is-checkbox">
						<span class="form-item-title">是否禁用：</span>
						<div class="form-item-content" data-bind="is_deleted_text"></div>
					</div>

					<div class="form-item">
						<span class="form-item-title">工作年限：</span>
						<div class="form-item-content" data-bind="working_life"></div>
					</div>

					<div class="form-item">
						<span class="form-item-title">总服务次数：</span>
						<div class="form-item-content" data-bind="service_num"></div>
					</div>

					<div class="form-item">
						<span class="form-item-title">月服务次数：</span>
						<div class="form-item-content" data-bind="month_service_num"></div>
					</div>
				</div>

				<div class="col-sm-6 col-md-7 form-col form-col-min">
					<div class="form-item pb-10">
						<span class="form-item-title">头像：</span>
						<div class="form-item-content">
							<div class="form-image-wrapper fl">
								<span class="image-contain" data-bind="cover_src_string" data-bind-type="bg-img" style="background-image:url(../../images/upload-default-img.png);"></span>
							</div>
						</div>
					</div>
				</div>
			</div>


			<hr>
			<div class="form-item mb-0">
				<div class="form-item-title"><h4 class="mt-0 pb-5 f16">服务套餐</h4></div>
			</div>
			<div class="form-item">
				<span class="form-item-title">套餐列表：</span>
				<div class="form-item-content">
					<ul class="view-project-list max-w-1200"></ul>
					<div class="color-gray">未发布套餐！</div>
				</div>
			</div>

			<hr>
			<div class="form-item">
				<span class="form-item-title">图集(多张)：</span>
				<div class="form-item-content">
					<ul class="form-img-list m-0 box-clear"></ul>
					<div class="color-gray">未上传图集！</div>
				</div>
			</div>

			<hr>
			<div class="form-item">
				<span class="form-item-title">备注：</span>
				<div class="form-item-content max-w-1000" id="viewRemark" data-bind="remark" data-default-value="-"></div>
			</div>
		</div>

		<!-- 图文介绍 -->
		<hr>
		<div class="form-item mb-0">
			<div class="form-item-title"><h4 class="mt-0 pb-5 f16">图文介绍</h4></div>
		</div>
		<div class="form-item">
			<span class="form-item-title">图文列表：</span>
			<div class="form-item-content">
				<table class="mc-list-table form-view-container max-w-1200" id="viewContentTable">
					<thead>
					<tr>
						<td width="60">类型</td>
						<td>详细内容</td>
					</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>

	<hr>
	<div class="form-group-wrapper">
		<div class="form-item mt-30 mb-15">
			<span class="form-item-title">&nbsp;</span>
			<div class="form-item-content">
				<button class="btn btn-sm btn-default btn-big btn-close" type="button">关闭</button>
			</div>
		</div>
	</div>
</div>


<!-- 列表模板 -->
<script type="text/html" id="listTemplate">
	{{each result as item}}<tr data-id="{{item.hair_stylist_id}}">
		<td><input type="checkbox"></td>
		<td>{{if item.is_deleted}}<span class="color-dark-gray">已禁用</span>{{else}}<span class="color-light-gray">否</span>{{/if}}</td>
		<td><div class="image-contain wh-40" style="background-image: url({{item.cover_src_string_small || defaultImageUrl}});"></div></td>
		<td><strong>{{item.name}}</strong></td>
		<td><span>{{item.service_num}}</span></td>
		<td><span>{{item.month_service_num}}</span></td>
		<td></td>
		<td><span class="mc-btn-text btn-edit mr-15">修改</span> <span class="mc-btn-text btn-view">查看</span></td>
	</tr>{{/each}}
	{{if !result.length}}<tr><td class="td-none text-center" colspan="7">暂无内容</td></tr>{{/if}}
</script>

<!-- 查看 - 服务套餐模块 -->
<script type="text/html" id="viewProjectsTemplate">
	{{each result as item}}<li><span class="mr-10">{{item.name}}</span> <span class="color-orange">￥ {{item.price}}</span></li>{{/each}}
</script>

<!-- 服务套餐模块 模板 - 2 -->
<script type="text/html" id="editProjectsTemplate">
	{{each result as item}}<section style="display:{{display || 'none'}};">
		<div class="form-item">
			<span class="form-item-title">名称：</span>
			<div class="form-item-content">
				<input class="form-control form-input" name="name" value="{{item.name}}" data-width="normal" data-not-null="1" placeholder=""/>
			</div>
		</div>
		<div class="form-item">
			<span class="form-item-title">价格：</span>
			<div class="form-item-content">
				<input class="form-control form-input" name="price" value="{{item.price}}" data-width="normal" data-type="float" data-not-null="1" placeholder=""/>
			</div>
		</div>

		<div class="form-item mb-0 pb-10">
			<span class="form-item-title">&nbsp;</span>
			<div class="form-item-content">
				<span class="btn mc-btn-blue-line btn-sm btn-control" data-mode="add"><i class="fa fa-plus-circle"></i> 添加</span>
				<span class="btn btn-default btn-sm ml-5 btn-control" data-mode="remove"><i class="fa fa-times-circle"></i> 移除</span>
			</div>
		</div>
	</section>{{/each}}
	{{if !result.length}}<div class="content-none">暂无套餐内容!</div> {{/if}}
</script>

<!-- 图集模板 -->
<script type="text/html" id="photosTemplate">
	{{each result as item}}<li>
		<input type="hidden" name="file_resource_name" value="{{item.file_resource_name}}"/>
		<input type="hidden" name="file_resource_id" value="{{item.file_resource_id}}"/>
		<p class="image-contain" style="background-image:url({{item.file_resource_name_string || defaultImageUrl}});"></p>
		<i class="fa fa-remove"></i>
	</li>{{/each}}
</script>

<!-- 查看 - 图集模板 -->
<script type="text/html" id="viewPhotosTemplate">
	{{each result as item}}<li>
		<p class="image-contain" style="background-image:url({{item.file_resource_name_string || defaultImageUrl}});"></p>
	</li>{{/each}}
</script>

<!-- 内容模块 模板 - 2 -->
<script type="text/html" id="editContent_2_Template">
	{{each result as item}}<section style="display:{{display || 'none'}};">
		<div class="box-clear">
			<input type="hidden" name="videotex_picture_src" value="{{item.videotex_picture_src}}"/>
			<input type="hidden" name="videotex_id" value="{{item.videotex_id}}"/>
			{{if item.videotex_title || item.type == 'title'}}<div class="form-item">
			<span class="form-item-title">标题：</span>
			<div class="form-item-content">
				<input class="form-control form-input" name="videotex_title" value="{{item.videotex_title}}" data-width="max" maxlength="200" placeholder="标题"/>
				<div class="mt-5 color-light-gray"><small>标题在小程序内“加粗高亮显示”</small></div>
			</div>
		</div>{{else if item.videotex_content || item.type == 'content'}}
			<div class="form-item">
				<span class="form-item-title">内容：</span>
				<div class="form-item-content">
					<textarea class="form-control form-input" name="videotex_content" data-width="max" maxlength="12000" placeholder="内容">{{item.videotex_content}}</textarea>
				</div>
			</div>{{else}}
			<div class="form-item">
				<span class="form-item-title">图片：</span>
				<div class="form-item-content">
					<div class="form-image-wrapper fl">
						<span class="image-contain" style="background-image:url({{item.videotex_picture_src_string || defaultImageUrl}});"></span>
					</div>
					<div class="mt-10 ml-10 fl">
						<span class="btn btn-info btn-sm btn-file btn-file-single">修改图片</span>
						<p class="mt-5 color-light-gray">
							<small>仅支持jpg、gif、png，大小不超过1MB</small>
							<small class="block">建议尺寸: 宽度不低于750px</small>
						</p>
					</div>
				</div>
			</div>{{/if}}
		</div>

		<div class="form-item">
			<span class="form-item-title">&nbsp;</span>
			<div class="form-item-content">
				<span class="btn mc-btn-blue-line btn-sm btn-control" data-mode="images" title="可批量上传，建议尺寸：宽度不低于750px"><i class="fa fa-plus-circle"></i> 图片</span>
				<span class="btn mc-btn-blue-line btn-sm btn-control" data-mode="title"><i class="fa fa-plus-circle"></i> 标题</span>
				<span class="btn mc-btn-blue-line btn-sm btn-control" data-mode="content"><i class="fa fa-plus-circle"></i> 内容</span>
				<span class="btn btn-default btn-sm ml-10 btn-control" data-mode="remove"><i class="fa fa-times-circle"></i> 移除</span>
				<span class="btn btn-default btn-sm ml-10 btn-control" data-mode="move-up"><i class="fa fa-angle-double-up"></i> 上移</span>
				<span class="btn btn-default btn-sm btn-control" data-mode="move-down"><i class="fa fa-angle-double-down"></i> 下移</span>
			</div>
		</div>
	</section>{{/each}}
	{{if !result.length}}<div class="content-none">暂无商品内容!</div> {{/if}}
</script>


<!-- 查看 - 内容模块 模板 -->
<script type="text/html" id="viewViewContentTemplate">
	{{each result as item index}}<tr>
		{{if item.videotex_title}}
		<td class="color-light-gray">标题</td>
		<td>{{item.videotex_title}}</td>
		{{else if item.videotex_picture_src_string}}
		<td class="color-light-gray">图片</td>
		<td><a class="image-contain wh-40 block" href="{{item.videotex_picture_src_string || '#'}}" {{if item.videotex_picture_src_string}}target="_blank"{{/if}} style="background-image: url({{item.videotex_picture_src_string || defaultImageUrl}});"></a>
		</td>
		{{else}}
		<td class="color-light-gray">内容</td>
		<td>{{item.videotex_content}}</td>
		{{/if}}
	</tr>{{/each}}
	{{if !result.length}}<tr><td class="" colspan="2">暂无内容!</td></tr>{{/if}}
</script>


<script type="text/javascript" src="../../scripts/files-ver-controller.js"></script>
<script type="text/javascript">
    loadJs({
        fileUploadJs: true,
        files: [
            '../../scripts/local/store-common.js',
            '../../scripts/local/store-master.js'
        ]
    });
</script>
</body>
</html>
